body{
    font-family: "Montserrat"; 
    text-align: center; 
}

#title {
    background-color: royalblue;
    color: #fff;
    text-align: left;
}

h1 {
    font-family: "Montserrat";
    font-weight: 900;
    line-height: 1.5;
    font-size: 3.5 rem;
}

h2 {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    text-align: center; 
}


h3 {
    font-family: "Montserrat";
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
}
/* Headings */

.big-heading {
    font-family: "Montserrat-regular";
    font-size: 3.5rem;
    line-height: 1.5;
  }
  
  .section-heading {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  /* Containers */
  
  .container-fluid{
    padding: 7% 15%;
  }

/* Navigation Bar */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-weight: bold;
    font-size: 2.5rem;
}

.nav-item{
    padding: 0 17px;
}

/* Download Button */

.download-button{
    margin: 5% 3% 5% 0%;
}

/* Title Image */

.title-image {
    width: 45%;
    margin-left: 40%;

    
}

/* Features Section */

#features {
    padding: 7% 15%;
  
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon {
    color: cornflowerblue;
    margin-bottom: 1rem;
}

.icon:hover {
    color: royalblue;
}

/* Testimonial Section */

#testimonials{
    
    text-align: center;
    background-color: cornflowerblue;
    color: #fff;

}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}


/* #press{
    background-color: cornflowerblue;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
} */

/* Pricing Section */
#pricing {
    padding: 100px;
  }
  
  .price-text {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .pricing-column {
    padding: 3% 2%;
  }
  
  /* CTA Section */

  
  /* Footer Section */

  /* Sections */

.colored-section {
    background-color: cornflowerblue;
    color: #fff;
  }
  
  .white-section {
    background-color: #fff;
  }
  
  .section-heading {
    font-size: 3rem;
    line-height: 1.5;
  }
  .download-button {
    margin: 5% 3% 5% 0;
  }
  
  .social-icon {
    margin: 20px 10px;
  }
  
  @media (max-width: 1028px) {
  
    #title {
      text-align: center;
    }
  
    .title-image {
      position: static;
      transform: rotate(0);
    }
  }





